;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies 
 [[nrepl "0.9.0"]
  [cider/cider-nrepl "0.28.3"]
  [refactor-nrepl "3.5.2"]
  [juji/editscript "0.5.8"]
  [org.clojure/tools.cli "1.0.206"]]

 :builds
 {:kbdiff
  {:target :node-script
   :main kbdiff.core/-main
   :output-dir "public/js"
   :output-to "out/kbdiff.js"
   :release {:compiler-options {:optimizations :simple}}}}}
